#textbox {
	background-color:#0066FF;
	height:400px;
	width:600px;
	margin: 0 auto;
	border-radius:10px;
	}
	
#margin{
	margin-top:200px;
	height:150px;
	width:300px;
	margin: 0 auto;
	border-radius:10px;


}

