<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CS_ISSUE</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Issue_Receiver_Servelet</display-name>
    <servlet-name>Issue_Receiver_Servelet</servlet-name>
    <servlet-class>org.gp.isse.Issue_Receiver_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Issue_Receiver_Servelet</servlet-name>
    <url-pattern>/Issue_Receiver_Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration_Receiver_Servelet</display-name>
    <servlet-name>Registration_Receiver_Servelet</servlet-name>
    <servlet-class>org.gp.isse.Registration_Receiver_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration_Receiver_Servelet</servlet-name>
    <url-pattern>/Registration_Receiver_Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAuthentication</display-name>
    <servlet-name>LoginAuthentication</servlet-name>
    <servlet-class>org.gp.isse.LoginAuthentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAuthentication</servlet-name>
    <url-pattern>/LoginAuthentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Agent_Message_Receiver_Servelet</display-name>
    <servlet-name>Agent_Message_Receiver_Servelet</servlet-name>
    <servlet-class>org.gp.isse.Agent_Message_Receiver_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Agent_Message_Receiver_Servelet</servlet-name>
    <url-pattern>/Agent_Message_Receiver_Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forward_Servelet</display-name>
    <servlet-name>Forward_Servelet</servlet-name>
    <servlet-class>org.gp.isse.Forward_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forward_Servelet</servlet-name>
    <url-pattern>/Forward_Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Message_Servelet</display-name>
    <servlet-name>Delete_Message_Servelet</servlet-name>
    <servlet-class>org.gp.isse.Delete_Message_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Message_Servelet</servlet-name>
    <url-pattern>/Delete_Message_Servelet</url-pattern>
  </servlet-mapping>
</web-app>